{{ form_start(form, {'attr': {'class': 'ajaxForm', 'method': 'POST'}}) }}
	<button data-target="#newComment" class="ajaxButton btn btn-primary float-right mt-4" id="{{ comment.id }}" data-url="{{ path('comment_new') }}" type="submit">{{ button_label|default('Submit') }}</button>
{{ form_end(form) }}
